In [2]:
import numpy as np
import pandas as pd # Dùng để đọc và hiển thị file csv/tsv

## Khám phá dữ liệu (đủ để có thể xác định câu hỏi)

In [3]:
game_df = pd.read_csv('vgsales.csv')
game_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
game_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [9]:
num_rows = len(game_df.index)
num_cols = len(game_df.columns)
print('Row', num_rows)
print('Col', num_cols)

Row 16598
Col 11

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Quan sát sơ bộ dữ liệu ta thấy mỗi dòng chứa thông tin của một game được sắp xếp theo hạng doanh thu, và có vẻ không có vấn đề các dòng có ý nghĩa khác nhau.

### Dữ liệu có các dòng bị lặp không?

In [11]:
game_df.index.duplicated().sum()

0

### Mỗi cột có ý nghĩa gì?

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [13]:
col_dtypes = pd.Series(game_df.dtypes.values, index=game_df.dtypes.axes)
col_dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

**Cột có dtype là object nghĩa là sao?**

In [17]:
def open_object_dtype(s, name):
    dtypes = set()
    
    # YOUR CODE HERE
    #raise NotImplementedError()
    if s.dtype == object:
        dtypes = s.apply(lambda x: type(x))
    
    print(name + ': ', set(dtypes))
    
open_object_dtype(game_df['Name'], 'Name')
open_object_dtype(game_df['Genre'], 'Genre')
open_object_dtype(game_df['Publisher'], 'Publisher')

Name:  {<class 'str'>}
Genre:  {<class 'str'>}
Publisher:  {<class 'str'>, <class 'float'>}

**Kiểm tra giá trị thiếu của các cột**

In [14]:
game_df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

**Phân loại dạng kiểu dữ liệu**

In [6]:
game_df.nunique()

Rank            16598
Name            11493
Platform           31
Year               39
Genre              12
Publisher         578
NA_Sales          409
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      623
dtype: int64

In [30]:
game_df["Genre"].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

xu hướng thể loại game hay platform thay đổi thế nào theo thời gian 
. Nơi đâu là mảnh đất béo bở cho ngành công nghiệp game